.videos-main-container {
    display: flex;
    gap: 15px;
    margin: 20px 30px 0 30px;
    justify-content: center;
}

.video-container {
    max-width: 300px !important;
    cursor: pointer;
    position: relative;
    padding: 0;
}

.video-container:hover .invisble-options-container {
    display: flex;
}

.video-container:hover .timer-container {
    display: none;
}

.video-image-container>img {
    width: 300px;
    height: 160px;
}

.video-title-container {
    width: 70%;
}

.video-data-header-container {
    display: flex;
    color: white;
    gap: 10px;
    margin-top: 10px;
    align-items: center;
}

.video-owner-image-container>img {
    width: 35px;
    height: 35px;
    border-radius: 100%;
}

.video-data-secondary-container {
    color: #a9a9a9;
    margin-left: 45px;
    margin-top: 5px;
    font-size: 13px;
}

.invisble-options-container {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px 5px 0 0;
    position: absolute;
}

.image-options-container {
    background-color: rgba(24, 24, 24, 0.8);
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2.5px;
}

.image-options-container>img {
    width: 25px;
    height: 25px;
}

.data-options-container {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    transition: 250ms;
    border-color: #212121;
}

.data-options-container:active {
    border: 1px solid #4b4b4b;
    background-color: #4b4b4b;
}

.data-options-container>img {
    width: 30px;
    height: 30px;
}

.up-invisible {
    top: 0;
    right: 0;
    gap: 5px;
}

.bottom-invisible {
    top: 160px;
    right: 0;
}

.timer-container {
    position: absolute;
    background-color: rgba(24, 24, 24, 0.8);
    padding: 1px 4px;
    border-radius: 2px;
    color: white;
    font-size: 11px;
    top: 135px;
    right: 0;
    margin-right: 5px;
    transition: 250ms linear;
}